{% extends "base.html" %}
{% block body%}
      <div class="page-wrapper">
        <div class="content container-fluid">
          <div class="page-header">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="page-title">Edit Teachers</h3>
                <ul class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="teachers.html">Teachers</a>
                  </li>
                  <li class="breadcrumb-item active">Edit Teachers</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-body">
                  <form method='post' enctype='multipart/form-data'>
                     {% csrf_token %}
                      <div class="row">
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              {{ teacher_form.first_name.label_tag }}
                              {{ teacher_form.first_name }}
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              {{ teacher_form.last_name.label_tag }}
                              {{ teacher_form.last_name }}
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              {{ teacher_form.email.label_tag }}
                              {{ teacher_form.email }}
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              {{ teacher_form.username.label_tag }}
                              {{ teacher_form.username }}
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              {{ profile_form.department.label_tag }}
                              {{ profile_form.department }}
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              {{ profile_form.date_of_birth.label_tag }}
                              {{ profile_form.date_of_birth }}
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              {{ profile_form.gender.label_tag }}
                              {{ profile_form.gender }}
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              {{ profile_form.religion.label_tag }}
                              {{ profile_form.religion }}
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              {{ profile_form.address.label_tag }}
                              {{ profile_form.address }}
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              {{ profile_form.phone_number.label_tag }}
                              {{ profile_form.phone_number }}
                           </div>
                        </div>
                      </div>
                      
                      <div class="col-12">
                        <button type="submit" class="btn btn-primary">
                          Submit
                        </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}