{% extends "base.html" %}
<title>{% block title %}Add Department{% endblock %}</title>
{% block content %}
      <div class="page-wrapper">
        <div class="content container-fluid">
          <div class="page-header">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="page-title">Add Department</h3>
                <ul class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="departments.html">Department</a>
                  </li>
                  <li class="breadcrumb-item active">Add Department</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-body">
                  {% for message in messages %}
                    {% if 'error' in message.tags %}
                      <script>
                        document.addEventListener("DOMContentLoaded", function () {
                          Swal.fire({
                            icon: "error",
                            title: "Error",
                            text: "{{ message|escapejs }} ",
                            confirmButtonText: "OK",
                          });
                        });
                      </script>
                      {% else %}
                      <script>
                        document.addEventListener("DOMContentLoaded", function () {
                          Swal.fire({
                            icon: "success",
                            title: "Success",
                            text: "{{ message|escapejs }} ",
                            confirmButtonText: "OK",
                          });
                        });
                      </script>
                    {% endif %}
                  {% endfor %}
                  <form method="POST" enctype="multipart/form-data"> 
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-12">
                        <h5 class="form-title">
                          <span>Department Details</span>
                        </h5>
                      </div>
                      <div class="col-12 col-sm-6">
                        <div class="form-group">
                          {{ form.department_name.label_tag }}
                          {{ form.department_name }}
                        </div>
                      </div>
                      </div>
                      <div class="col-12">
                        <button type="submit" class="btn btn-primary">
                          Submit
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}