{% extends "base.html" %}
<title>{% block title %}Recently Registered{% endblock %}</title>
{% block content %}
<div class="page-wrapper">
   <div class="content container-fluid">
      <div class="page-header">
         <div class="row align-items-center">
            <div class="col">
               <h3 class="page-title">Courses</h3>
               <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                  <li class="breadcrumb-item active">Recent Registered Subjects</li>
               </ul>
            </div>
            <div class="col-auto text-right float-right ml-auto">
               <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <div class="card card-table">
               <div class="card-body">
                  <div class="table-responsive">
                     <table class="table table-hover table-center mb-0 datatable">
                        <thead>
                           <tr>
                              <th>Student ID</th>
                              <th>Student Name</th>
                              <th>Programme </th>
                              <th>Status</th>
                              <th class="text-right">Action</th>
                           </tr>
                        </thead>
                        <tbody>
                        {% for registration in registrations %}
                        <tr>
                           <td>{{ registration.student_id.id }}</td>
                           <td>{{ registration.student_id.first_name }} {{ registration.student_id.last_name }}</td>
                           <td>{{ registration.student_id.profile.program }}</td>
                           <td>
                              {% if registration.status == 'Pending' %}
                              <span class="badge badge-pill bg-success text-white">Pending</span>
                              {% else %}
                              <span class="badge badge-pill bg-success-light">Approved</span>
                              {% endif %}
                           </td>
                           <td class="text-right">
                              <a href="{% url "Registration:view_courses" registration.id %}" class="btn btn-sm btn-primary mr-2">View</a>
                              {% if request.user.role == 'ADMIN' %}
                              <a href="{% url "Registration:delete" registration.id %}" class="btn btn-sm btn-danger">Deregister</a> 
                              {% endif %} 
                           </td>
                        </tr>
                        {% endfor %}   
                        </tbody>
                     </table>
                  </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}