{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block  content %}
      <div class="page-wrapper">
        <div class="content container-fluid">
          <div class="page-header">
            <div class="row">
              <div class="col-sm-12">
                <h3 class="page-title">{{ request.user.first_name }} {{ request.user.last_name }} ({{request.user.id}})</h3>
                <ul class="breadcrumb">
                  <li class="breadcrumb-item active">Student Dashboard</li>
                </ul>
              </div>
            </div>
          </div>
          <!--Style for notice cards-->
          <style>
            .card-title{
              font-weight: 600;
            }
          </style>
          <!---->
          <div class="row mt-0">
            <div class="col-md-12 col-lg-6">
              <div class="card p-2">
                  <h6 class="card-title">Important Notice 🪧</h6>
                  <p>
                    Dear {{request.user.first_name}} {{request.user.last_name}}, make sure you change your password
                     after your first log in. To change your password, log out first, then click on forgot password,
                     Then enter your Student Id, and wait for the reset link on your Email that is registered on your portal.
                  </p>
              </div>
            </div>
            <div class="col-md-12 col-lg-6">
              <div class="card p-2">
                  <h6 class="card-title">Day of opening</h6>
                  <p>
                    Dear {{request.user.first_name}} {{request.user.last_name}}, make sure you change your password
                     after your first log in. To change your password, log out first, then click on forgot password,
                     Then enter your Student Id, and wait for the reset link on your Email that is registered on your portal.
                  </p>
            </div>
          </div>
          <!---->
          {% if registration %}
          <div class="row">
              <div class="col-12 d-flex">
                <div class="card flex-fill">
                  <div class="card-header">
                    <h5 class="card-title">Registered Courses for this Year</h5>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-hover table-center">
                        <thead class="thead-light">
                          <tr>
                            <th class="text-nowrap">Code</th>
                            <th class="text-nowrap">Course Title</th>
                            <th class="text-nowrap">Course Year</th>
                            <th class="text-left">Status</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for course in registration.courses.all %}
                          <tr>
                            <td class="text-nowrap">{{ course.course_code }}</td>
                            <td class="text-nowrap">{{ course.course_title }}</td>
                            <td class="text-left">
                              {{course.year_of_study}}
                            </td>
                            <td>
                              {% if registration.status == 'Pending' %}
                              <span class="badge badge-pill bg-success text-white">Pending</span>
                              
                              {% else %}
                              <span class="badge badge-pill bg-success-light">Approved</span>
                              {% endif %}
                            </td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          {% else %}
          {% endif %}
        </div>
      </div>
{% endblock  %}