{% extends "base.html" %}
{% load static %}
<title>{% block title %}Student List{% endblock %}</title>
{% block  content%}
<div class="page-wrapper">
<div class="content container-fluid">
   <div class="page-header">
      <div class="row align-items-center">
         <div class="col">
            <h3 class="page-title">Students</h3>
            <ul class="breadcrumb">
               <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
               <li class="breadcrumb-item active">Students</li>
            </ul>
         </div>
         <div class="col-auto text-right float-right ml-auto">
            <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
            <a href="{% url "Students:add" %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12">
         <div class="card card-table">
            <div class="card-body">
               <div class="table-responsive">
                  <table class="table table-hover table-center mb-0 datatable">
                     <thead>
                        <tr>
                           <th>ID</th>
                           <th>Name</th>
                           <th>Programme</th>
                           <th>Intake</th>
                           <th>Mobile Number</th>
                           <th>Year of study</th>
                           <th class="text-right">Action</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for student in students %}
                        <tr>
                           <td>{{student.id}}</td>
                           <td>
                              <div class="table-avatar">
                                 {% if student.profile.profile_picture %}
                                 <a href="{% url "Students:details" student.id  %}" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{{ student.profile.profile_picture.url }}" alt="User Image"></a>
                                 {% else %}
                                 <a href="{% url "Students:details" student.id  %}" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{% static 'img/default.png' %}" alt="User Image"></a>
                                 {% endif %}
                                 <h2><a href="{% url "Students:details" student.id  %}">{{ student.first_name }} {{ student.last_name }}</a></h2>
                              </div>
                           </td>
                           <td>{{ student.profile.program }}</td>
                           <td>{{ student.profile.intake }}</td>
                           <td>{{student.profile.phone_number}}</td>
                           <td>{{ student.profile.year_of_study }}</td>
                           <td class="text-right">
                              <div class="actions">
                                 <a href="{% url "Students:details" student.id  %}" class="btn btn-sm bg-success-light mr-2">
                                 <i class="fas fa-book"></i>
                                 </a>
                              </div>
                           </td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
{% endblock %}