{% extends "base.html" %} {% block content%}
<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          {% if title %}
          <h3 class="page-title">{{title}}</h3>
          {% else %}
          <h3 class="page-title">Add Staff</h3>
          {% endif %}
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="teachers.html">Teachers</a>
            </li>
            {% if title %}
            <li class="breadcrumb-item active">{{ title }}</li>
            {% else %}
            <li class="breadcrumb-item active">Add Teachers</li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <!--messages-->
    {% for message in messages %} {% if 'success' in message.tags %}
    <script>
      document.addEventListener("DOMContentLoaded", function () {
      Swal.fire({
        icon: "success",
        title: "Success",
        text: "{{ message|escapejs }}",
        confirmButtonText: "OK",
      }).then((result) => {
        if (result.isConfirmed) {
          window.location.href = "{% url "Staff:list" %}"; 
        }
      });
    });
    </script>
    {% endif %} {% endfor %}
    <!--end of messages-->
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <form method="POST" enctype="multipart/form-data" >
              {% csrf_token %}
              <div class="row">
                <div class="col-12">
                  <h5 class="form-title"><span>Staff Information</span></h5>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                      {{ form.first_name.label_tag }}
                      {{ form.first_name }}
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                      {{ form.last_name.label_tag }}
                      {{ form.last_name }}
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                      {{ form.NRC.label_tag }}
                      {{ form.NRC }}
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                      {{ form.email.label_tag }}
                      {{ form.email }}
                  </div>
                </div>
                <div class="col-12">
                  <h5 class="form-title"><span>Staff Profile</span></h5>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                      {{ profile_form.gender.label_tag }}
                      {{ profile_form.gender }}
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                      {{ profile_form.phone_number.label_tag }}
                      {{ profile_form.phone_number }}
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                      {{ profile_form.employment_status.label_tag }}
                      {{ profile_form.employment_status }}
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                      {{ profile_form.department.label_tag }}
                      {{ profile_form.department }}
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                      {{ profile_form.profile_picture.label_tag }}
                      {{ profile_form.profile_picture }}
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                      {{ profile_form.address.label_tag }}
                      {{ profile_form.address }}
                  </div>
                </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
