{% extends "base.html" %}
{% block content %}
<div class="page-wrapper">
<div class="content container-fluid">
    <div class="page-header">
    <div class="row align-items-center">
        <div class="col">
        {% if title %}
        <h3 class="page-title">{{ title}}</h3>
        {% else %}
        <h3 class="page-title">Add Programme</h3>
        {% endif %}
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
            <a href="{% url "Programs:programs" %}">Programmes</a>
            </li>
            {% if title %}
            <li class="breadcrumb-item active">{{ title }}</li>
            {% else %}
            <li class="breadcrumb-item active">Add Programme</li>
            {% endif %}
        </ul>
        </div>
    </div>
    </div>

    <div class="row">
    <div class="col-sm-12">
        <div class="card">
            {% for message in messages %}
                {% if 'success' in message.tags %}
                <script>
                    // Show SweetAlert for success message
                    document.addEventListener("DOMContentLoaded", function () {
                        Swal.fire({
                        icon: "success",
                        title: "Success",
                        text: "{{ message|escapejs }}",
                        didClose: () => { window.location.href = "{% url 'Programs:programs' %}"; },
                        confirmButtonText: "OK",
                        });
                    });
                </script>
                {% else %}
                <script >
                    document.addEventListener("DOMContentLoaded", function () {
                        Swal.fire({
                        icon: "error",
                        title: "Error",
                        text: "{{ message|escapejs }} ",
                        confirmButtonText: "OK",
                        });
                    });
                </script>
                {% endif %}
            {% endfor %}
        <div class="card-body">
            <form method='POST' id="program-form">
                {% csrf_token %}
            <div class="row">
                <div class="col-12">
                <h5 class="form-title">
                    <span>Programme Info</span>
                </h5>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        {{ form.program_title.label_tag}}
                        {{ form.program_title }}
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        {{ form.department_id.label_tag}}
                        {{ form.department_id }}
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-success">
                        Submit
                    </button>
                </div>
            </div>
            </form>
            {% for message in messages %}
            {% if 'success' in message.tags %}
            <script>
            
            </script>
            {% endif %}
            {% endfor %}
        </div>
        </div>
    </div>
    </div>
</div>
</div>
{% endblock  %}