{% extends "base.html" %}
{% block content %}
<div class="page-wrapper">
<div class="content container-fluid">
    <div class="page-header">
    <div class="row align-items-center">
        <div class="col">
        <h3 class="page-title">Add Intake</h3>
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
            <a href="{% url "Academics:intakes" %}">Intakes</a>
            </li>
            <li class="breadcrumb-item active">Add Intake</li>
        </ul>
        </div>
    </div>
    </div>

    <div class="row">
    <div class="col-sm-12">
        <div class="card">
            {% for message in messages %}
                {% if 'success' in message.tags %}
                    <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        Swal.fire({
                        icon: "success",
                        title: "Success",
                        text: "{{ message|escapejs }} ",
                        confirmButtonText: "OK",
                        });
                    });
                    </script>
                    {% elif 'error' in message.tags%}
                    <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        Swal.fire({
                        icon: "error",
                        title: "Error",
                        text: "{{ message|escapejs }} ",
                        confirmButtonText: "OK",
                        });
                    });
                    </script>
                {% endif %}
            {% endfor %}
        <div class="card-body">
            <form method='POST'>
                {% csrf_token %}
            <div class="row">
                <div class="col-12">
                <h5 class="form-title">
                    <span>Intake Information</span>
                </h5>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label for="intake_name">Intake Name</label>
                        {{ form.intake_name }}
                    </div>
                </div>
                <div class="col-12">
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
                </div>
            </div>
            </form>
        </div>
        </div>
    </div>
    </div>
</div>
</div>
{% endblock  %}