{% extends "base.html" %}
{% block body %}
<div class="page-wrapper">
<div class="content container-fluid">
    <div class="page-header">
    <div class="row align-items-center">
        <div class="col">
        <h3 class="page-title">Add Academic Year</h3>
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
            <a href="event.html">Academics</a>
            </li>
            <li class="breadcrumb-item active">Add Academic Year</li>
        </ul>
        </div>
    </div>
    </div>

    <div class="row">
    <div class="col-sm-12">
        <div class="card">
            {% for message in messages %}
            <p class="alert alert-success">{{ message }}</p>
            {% endfor %}
        <div class="card-body">
            <form method='POST'>
                {% csrf_token %}
            <div class="row">
                <div class="col-12">
                <h5 class="form-title">
                    <span>Academic Year Information</span>
                </h5>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        {{ form.name.label_tag}}
                        {{ form.name }}
                    </div>
                </div>
                <div class="col-12 ">
                    <div class="form-group">
                        {{ form.is_current_year.label_tag}}
                        {{ form.is_current_year }}
                    </div>
                </div>
                <div class="col-12">
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
                </div>
            </div>
            </form>
        </div>
        </div>
    </div>
    </div>
</div>
</div>
{% endblock  %}