{% extends "base.html" %} 
<title>{% block title %}Session Years{% endblock %}</title>
{% block content %}
<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Session Years</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url "Admin:dashboard" %}">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">session-years</li>
          </ul>
        </div>
        <div class="col-auto text-right float-right ml-auto">
            <a href="{% url "Academics:add-session-year" %}" class="btn btn-info"
                >Add Year
            </a>
        </div>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card card-table">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover table-center">
                <thead class="thead-light">
                  <tr>
                    <th>Year Title</th>
                    <th>Semester</th>
                    <th>Is Current Year</th>
                    <th>Intake</th>
                    <th>View</th>
                  </tr>
                </thead>
                <tbody>
                  {% for year in years %}
                    <tr>
                      <td>
                        <div>{{year.year_title}} </div>
                      </td>
                      <td>
                        <div>{{year.semester}} </div>
                      </td>
                      <td>
                        <div>{{year.is_current_year}}</div>
                      </td>
                      <td >
                        <div>{{year.intake}}</div>
                      </td>
                      <td>
                        <a href="{% url "Academics:edit-year" year.id %}" class="btn btn-primary btn-sm">Edit</a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
