{% extends "base.html" %}
{% block title %}Fees{% endblock %}
{% block content %}    
<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          {% if title %}
          <h3 class="page-title">{{title}}</h3>
          {% else %}
          <h3 class="page-title">Fees</h3>
          {% endif %}
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="index.html">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Fees</li>
          </ul>
        </div>
        <div class="col-auto text-right float-right ml-auto">
          <a href="#" class="btn btn-outline-primary mr-2"
            ><i class="fas fa-download"></i> Download</a
          >
          <a href="{% url "Fees:add" %}" class="btn btn-primary"
            ><i class="fas fa-plus"></i
          ></a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="card card-table">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover table-center mb-0 datatable">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Fees Name</th>
                    <th>Programme</th>
                    <th>Amount</th>
                    <th>Year of Study</th>
                    <th class="text-right">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for fee in fees %}
                  <tr>
                    <td>{{fee.id}}</td>
                    <td>
                      <h2>
                        <a>{{fee.fee_type}}</a>
                      </h2>
                    </td>
                    {% if fee.Programs %}
                    <td>{{fee.Programs}}</td>
                    {% else %}
                    <td>All Programmes</td>
                    {% endif %}
                    <td>K{{fee.amount}}</td>
                    <td>{{fee.year_of_study}}</td>
                    <td class="text-right">
                      <div class="actions">
                        <a href="{% url "Fees:edit-fee" fee.id %}" class="btn btn-sm bg-success-light mr-2">
                          <i class="fas fa-pen"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
