{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
            <h3 class="page-title">Ledger Entries</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                <a href="index.html">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Ledger Entries</li>
            </ul>
            </div>
        </div>
        </div>
        {% for message in messages %}
            {% if 'success' in message.tags %}
            <script>
            document.addEventListener("DOMContentLoaded", function () {
                Swal.fire({
                icon: "success",
                title: "Success",
                text: "{{ message|escapejs }} ",
                confirmButtonText: "OK",
                });
            });
            </script>
            {% endif %}
        {% endfor %}
        <div class="row">
        <div class="col-sm-12">
            <div class="card card-table">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-center">
                        <thead class="thead-light">
                        <tr>
                            <th>ID</th>
                            <th>Student Id</th>
                            <th>Credit</th>
                            <th>Debit</th>
                            <th>Amount</th>
                            <th>Description</th>
                            <th>Action</th>
                            <th class="text-right">Reverse</th>
                        </tr>
                        </thead>
                        <tbody id="ledgerTableBody">
                            {% for ledger in ledgers %}
                            <tr>
                                <td>{{ledger.id}}</td>
                                <td>{{ledger.account_id}}</td>
                                <td>
                                    {% if ledger.entry_type == 'CREDIT' %}
                                        {{ledger.entry_type}}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>
                                    {% if ledger.entry_type == 'DEBIT' %}
                                        {{ledger.entry_type}}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>{{ledger.amount}}</td>
                                <td>{{ledger.description}}</td>
                                <td>{{ledger.is_reversal}}</td>
                                <td class="text-right">
                                    {% if ledger.is_reversal == 0 %}
                                        <a href="{% url "Fees:reverse" ledger.id %}" class="btn btn-primary btn-sm sweet-alert"
                                            onclick="event.preventDefault();
                                            const url = this.href;
                                            Swal.fire({
                                            title: 'Are you sure?',
                                            text: 'You want to reverse this!',
                                            icon: 'warning',
                                            showCancelButton: true,
                                            confirmButtonColor: '#3085d6',
                                            cancelButtonColor: '#d33',
                                            confirmButtonText: 'Yes, Reverse!'
                                            }).then((result) => {
                                            if (result.isConfirmed) {
                                                fetch(url)
                                                .then(response => {
                                                if(response.ok) {
                                                Swal.fire(
                                                    'Reversed!',
                                                    'Transaction successfully reversed.',
                                                    'success'
                                                ).then(() => {
                                                    window.location.reload();
                                                });
                                                }
                                                }).catch(() => {
                                                Swal.fire('Error','Request failed.','error');
                                                });
                                            } else {
                                                Swal.fire(
                                                'Cancelled',
                                                'Your course is safe :)',
                                                'info'
                                                );
                                            }
                                            })"
                                        >
                                        Reverse
                                        </a>
                                    {% else %}
                                    <button class="btn btn-secondary btn-sm" disabled>Reversed</button>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}