<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />
    <title>{% block title %} {% endblock %}</title>
   <link rel="shortcut icon" href="{% static "img/favicon.png" %}">
   <link rel="stylesheet" href="https://cdn.datatables.net/2.3.4/css/dataTables.bootstrap5.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap.min.css">
   <link rel="stylesheet" href="{% static "plugins/bootstrap/css/bootstrap.min.css" %}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link rel="stylesheet" href="{% static "css/style.css" %}">
  <link rel="icon" href="{% static "img/logo.png" %}" type="image/png" sizes="32x32">
  <link rel="apple-touch-icon" href="{% static "img/logo.png" %}">
  <meta name="msapplication-TileImage" content="{% static "img/logo.png" %}">
   <!--Sweet Alert-->    
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
   {% block extra_css %}
      <style>
        #preloader {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 9999;
        }

        .spinner {
          width: 50px;
          height: 50px;
          border: 6px solid #ddd;
          border-top-color: #3498db;
          border-radius: 50%;
          animation: spin 1s linear infinite;
        }

        @keyframes spin {
          to {
              transform: rotate(360deg);
          }
        }
      </style>
   {% endblock  %}
  </head>
  <body>
  <div id="preloader">
    <div class="spinner"></div>
  </div>
    <div class="main-wrapper">
      <div class="header">
        <div class="header-left">
          <a href="index.html" class="logo">
            <img src="{% static "img/logo.png" %}" alt="Logo" />
          </a>
          <a href="index.html" class="logo logo-small">
            <img src="{% static "img/logo.png" %}" alt="Logo" width="30" height="30" />
          </a>
        </div>

        <a href="javascript:void(0);" id="toggle_btn">
          <i class="fas fa-align-left"></i>
        </a>

        <a class="mobile_btn" id="mobile_btn">
          <i class="fas fa-bars"></i>
        </a>

        <ul class="nav user-menu">
          <li class="nav-item dropdown noti-dropdown">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <i class="far fa-bell"></i>
              <span class="badge badge-pill">3</span>
            </a>
          </li>

          <li class="nav-item dropdown has-arrow">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <span class="user-img">
              
                {% if request.user.role == 'STUDENT' %}
                  {% if request.user.profile.profile_picture %}
                  <img class="rounded-circle" src="{{ request.user.profile.profile_picture.url }}" width="31" alt="{{ request.user.first_name}} {{request.user.last_name}}">
                  {% else %}
                  <img class="rounded-circle" src="{% static "img/default.png" %}" width="31" alt="{{ request.user.first_name}} {{request.user.last_name}}">
                  {% endif %}
                  {% elif request.user.role == 'STAFF' %}
                    {% if request.user.staff_profile.profile_picture %}
                    <img class="rounded-circle" src="{{ request.user.staff_profile.profile_picture.url }}" width="31" alt="{{ request.user.first_name}} {{request.user.last_name}}">
                    {% else %}
                    <img class="rounded-circle" src="{% static "img/default.png" %}" width="31" alt="{{ request.user.first_name}} {{request.user.last_name}}">
                    {% endif %}
                  {% else %}
                  <img class="rounded-circle" src="{% static "img/logo.png" %}" width="31" alt="{{ request.user.first_name}} {{request.user.last_name}}"
              /></span>
              {% endif %}
            </a>
            <div class="dropdown-menu">
              <div class="user-header">
                <div class="avatar avatar-sm">
                {% if request.user.role == 'STUDENT' %}
                  {% if request.user.profile.profile_picture %}
                  <img src="{{ request.user.profile.profile_picture.url }}" alt="User Image" class="avatar-img rounded-circle"/>
                  {% else %}
                  <img src=""{% static "img/logo.png" %}"" alt="User Image" class="avatar-img rounded-circle"/>
                  {% endif %}
                {% elif request.user.role == 'STAFF' %}
                  {% if request.user.staff_profile.profile_picture %}
                  <img src="{{ request.user.staff_profile.profile_picture.url }}" alt="User Image" class="avatar-img rounded-circle"/>
                  {% else %}
                    <img src="{% static "img/default.png" %}" alt="User Image" class="avatar-img rounded-circle"/>
                  {% endif %}
                </div>
                {% endif %}
                <div class="user-text">
                  <h6>{{ request.user.first_name}} {{request.user.last_name}}</h6>
                  <p class="text-muted mb-0">{{ request.user.role}}</p>
                </div>
              </div>
              {% if request.user %}
                {% if request.user.role == 'STAFF' %}
                <a class="dropdown-item" href="{% url "Staff:details" request.user.id %}">My Profile</a>
                {% elif request.user.role == 'Student' %}
                <a class="dropdown-item" href="{% url "Students:details" request.user.id %}">My Profile</a>
                {% endif %}
                <a class="dropdown-item" href="{% url "Users:logout" %}">Logout</a>
              {% endif %}
              
            </div>
          </li>
        </ul>
      </div>

      <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
          <div id="sidebar-menu" class="sidebar-menu">
            <ul>
              <li class="menu-title">
                <span>Main Menu</span>    
              </li>
              {% if request.user.is_authenticated %}
              {% if request.user.role == 'ADMIN' %}
              <li>
                <a href="{% url "Admin:dashboard" %}"><i class="fas fa-dashboard"></i> <span>Dashboard</span></a>
              </li>
              <li class="submenu">
                <a href="#"
                  ><i class="fa-solid fa-calendar"></i><span> Academics</span>
                  <span class="menu-arrow"></span
                ></a>
                <ul>
                  <li><a href="{% url "Academics:session-year" %}">Session Years</a></li>
                  <li><a href="{% url "Academics:years-of-study" %}">Years of Study</a></li>
                  <li><a href="{% url "Academics:semesters" %}">Semesters</a></li>
                  <li><a href="{% url "Academics:intakes" %}">Intakes</a></li>
                </ul>
              </li>
              <li class="submenu">
                <a href="#"
                  ><i class="fas fa-pen"></i> <span> Applications</span>
                  <span class="menu-arrow"></span
                ></a>
                <ul>
                  <li><a href=" {% url "Application:recent" %}">Recent Applications</a></li>
                  <li><a href="{% url "Application:accepted" %}">Accepted Students</a></li>
                </ul>
              </li>
              <li class="submenu">
                <a href="#"
                  ><i class="fas fa-book-reader"></i> <span>Courses</span>
                  <span class="menu-arrow"></span
                ></a>
                <ul>
                  <li><a href="{% url "Courses:courses" %}">Courses</a></li>
                  <li>
                    <a href="{% url "Courses:add" %}">Add Course</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="{% url "Registration:recent" %}"><i class="fas fa-clock"></i> <span>Recent Registered</span></a>
              </li>
              <li class="submenu">
                <a href="#"
                  ><i class="fas fa-building"></i> <span> Departments</span>
                  <span class="menu-arrow"></span
                ></a>
                <ul>
                  <li><a href="{% url "Departments:departments" %}">Department List</a></li>
                  <li><a href="{% url "Departments:add" %}">Department Add</a></li>
                </ul>
              </li>
              <li class="submenu">
                <a href="#"
                  ><i class="fas fa-book-reader"></i> <span> Programmes</span>
                  <span class="menu-arrow"></span
                ></a>
                <ul>
                  <li><a href="{% url "Programs:programs" %}">Programmes</a></li>
                  <li>
                    <a href="{% url "Programs:add" %}">Add Programe</a>
                  </li>
                  </li>
                </ul>
              </li>
              <li class="submenu">
                <a href="#"
                  ><i class="fas fa-chalkboard-teacher"></i>
                  <span> Staff</span> <span class="menu-arrow"></span
                ></a>
                <ul>
                  <li><a href="{% url "Staff:list" %}">Staff List</a></li>
                  <li><a href="{% url "Staff:add" %}">Add Staff</a></li>
                </ul>
              </li>
             <li class="submenu">
                <a href="#"
                  ><i class="fas fa-user-graduate"></i> <span> Students</span>
                  <span class="menu-arrow"></span
                ></a>
                <ul>
                  <li><a href=" {% url "Students:list" %}">Students</a></li>
                  <li><a href="{% url "Students:add" %}">Student Add</a></li>
                </ul>
              </li>
              <li>
              <li class="submenu">
                <a href="#"
                  ><i class="fas fa-chart-bar"></i> <span> Results</span>
                  <span class="menu-arrow"></span
                ></a>
                <ul>
                  <li><a href="{% url "Results:fetch-student-edit" %}"><i class="fas fa-file-edit"></i> <span>Edit Results</span></a></li>
                  <li><a href="{% url "Results:fetch-student" %}"><i class="fas fa-file-alt"></i> <span>Add Results</span></a></li>
                </ul>
              </li>
              {% elif request.user.role == 'STAFF'  %}
                {% if request.user.staff_profile.position == 'Accountant' %}
                <li>
                  <a href="{% url "Accounts:dashboard" %}"><i class="fas fa-dashboard"></i> <span>Dashboard</span></a>
                </li>
                {% endif %}
                <li>
                <a href="{% url "Staff:details" request.user.id %}"><i class="fas fa-user"></i><span>Profile</span></a>
              </li>
                {% if request.user.staff_profile.position == "Lecturer" %}
                  <li>
                      <a href="">
                          <i class="fas fa-plus"></i> <span>Course Administration</span>
                      </a>
                  </li>
                  <li class="submenu">
                    <a href="#">
                      <i class="fas fa-book-reader"></i> <span> Programmes</span>
                      <span class="menu-arrow"></span>
                    </a>
                    <ul>
                      <li><a href="{% url "Programs:programs" %}">Programmes</a></li>
                      <li>
                        <a href="{% url "Programs:add" %}" class="active">Add Programe</a>
                      </li>
                    </ul>
                  </li>
                {% elif request.user.staff_profile.position == "Accountant" %}
                  <li>
                    <a href="{% url "Fees:bulk-invoice" %}"><i class="fas fa-file-contract"></i><span>Bulk Invoice</span></a>
                  </li>
                  <li>
                    <a href="{% url "Fees:ledger" %}"><i class="fas fa-money-check-alt"></i><span>Ledger Entries</span></a>
                  </li>
                  <li class="submenu">
                    <a href="#"
                      ><i class="fas fa-coins"></i> <span>Fees</span>
                      <span class="menu-arrow"></span
                    ></a>
                    <ul>
                      <li><a href="{% url "Fees:fees" %}">Fees</a></li>
                      <li>
                        <a href="{% url "Fees:add" %}">Add Fee</a>
                      </li>
                      </li>
                    </ul>
                  </li>
                  <li class="submenu">
                    <a href="#"
                      ><i class="fas fa-credit-card"></i> <span>Payments</span>
                      <span class="menu-arrow"></span
                    ></a>
                    <ul>
                      <li><a href="{% url "Fees:payment-history" %}">Payments</a></li>
                      <li>
                        <a href="{% url "Fees:add-payment" %}">Add Payments</a>
                      </li>
                      </li>
                    </ul>
                  </li>
                  <li class="submenu">
                    <a href="#"
                      ><i class="fas fa-file-invoice"></i> <span>Invoices</span>
                      <span class="menu-arrow"></span
                    ></a>
                    <ul>
                      <li><a href="{% url "Fees:invoices" %}">Invoices</a></li>
                      <li>
                        <a href="{% url "Fees:add-invoice" %}">Add Invoice</a>
                      </li>
                      </li>
                    </ul>
                  </li>
                {% elif request.user.staff_profile.position == "HOD" %}
                  <li>
                    <a href="{% url "Programs:programs" %}"><i class="fas fa-book-reader"></i> <span>Programmes</span></a>
                  </li>
                  <li>
                    <a href="{% url "Courses:courses" %}"><i class="fas fa-book-reader"></i> <span>Courses</span></a>
                  </li>
                  <li>
                    <a href="{% url "Registration:recent" %}"><i class="fas fa-clock"></i> <span>Recent Registered</span></a>
                  </li>
                {% else %}
                {% endif %}
              {% elif request.user.role == 'STUDENT' %}
                <li>
                  <a href="{% url "Students:dashboard" %}"><i class="fas fa-dashboard"></i> <span>Student Dashboard</span></a>
                </li>
                <li>
                  <a href="{% url "Students:details" request.user.id %}"><i class="fas fa-user"></i><span>Profile</span></a>
                </li>
                <li>
                  <a href="{% url "Registration:register" %}"><i class="fas fa-plus"></i> <span>Course Registration</span></a>
                </li>
                {% if request.user.registration %}
                <li>
                  <a href="{% url "Registration:print_slip" request.user.id %}"><i class="fas fa-book"></i> <span>Confirmation Slip</span></a>
                </li>
                <li>
                  <a href="{% url "Fees:student-ledger" request.user.id %}"><i class="fas fa-book"></i> <span>Financial Slip</span></a>
                </li>
                {% endif %}
                <li>
                  <a href="{% url "Results:view-grades" request.user.id %}"><i class="fas fa-book"></i><span>My Grades</span></a>
                </li>
              {% endif %}
              {% endif %}
              <li>
              <li>
                <a href="{% url "Users:logout" %}"><i class="fas fa-sign-out-alt"></i> <span>Logout</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
{% block content %}
{% endblock  %}
   </div>
      <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
      <script src="https://cdn.datatables.net/2.3.4/js/dataTables.js"></script>
      <script src="https://cdn.datatables.net/2.3.4/js/dataTables.bootstrap5.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
      <script src="{% static "js/popper.min.js" %} "></script>
      <script src="{% static "js/bootstrap.min.js" %} "></script>
      <script src="{% static "plugins/slimscroll/jquery.slimscroll.min.js" %} "></script>
      <script src="{% static "plugins/apexchart/apexcharts.min.js" %} "></script>
      <script src="{% static "plugins/apexchart/chart-data.js" %} "></script>
      <script src="{% static "js/script.js" %} "></script>
      <script>
        document.addEventListener("DOMContentLoaded", () => {
            const loader = document.getElementById("preloader");

            /* Hide on normal load */
            window.addEventListener("load", () => {
                loader.classList.add("hidden");
                setTimeout(() => loader.style.display = "none", 300);
            });

            /* Back button fix */
            window.addEventListener("pageshow", (event) => {
                if (event.persisted) {
                    loader.style.display = "none";
                    loader.classList.add("hidden");
                }
            });

            /* Show only on REAL navigation */
            const safeAreas = [
                ".sidebar", 
                ".dropdown-menu", 
                ".dropdown-toggle",
                ".nav-link",
                ".submenu a"
            ];

            function isInsideSafeArea(el) {
                return safeAreas.some(selector => el.closest(selector));
            }

            /* LINKS */
            document.querySelectorAll("a:not([target='_blank'])").forEach(link => {
                link.addEventListener("click", (e) => {
                    const href = link.getAttribute("href");

                    // Skip JS links, anchors, empty links, or sidebar/dropdown
                    if (!href || href.startsWith("#") || href.startsWith("javascript")) return;

                    if (isInsideSafeArea(link)) return;

                    loader.style.display = "flex";
                    loader.classList.remove("hidden");
                });
            });

            /* FORMS */
            document.querySelectorAll("form").forEach(form => {
                form.addEventListener("submit", () => {
                    loader.style.display = "flex";
                    loader.classList.remove("hidden");
                });
            });

        });
      </script>


  </body>
</html>
