def print_confirmation_slip(request, student_id):
    if request.user.role == 'STUDENT':
            #convert confirmation slip to pdf
        student_id = request.user
        registration = Registration.objects.get(student_id=student_id)
        courses = registration.courses.all()
        today = datetime.date.today()

        template = get_template('registration/confirmation-slip.html')

        context={'courses': courses, 'registration': registration,
                        'today': today, 'student_id': student_id}
        
        html = template.render(context)

        response = HttpResponse(content_type='application/pdf')
        response['Content-Deposition']='filename="confirmation-slip.pdf"'

        #create PDF
        pisa_status=pisa.CreatePDF(html, dest=response)

        if pisa_status.err:
            return HttpResponse('We had some errors <pre>' + html + '</pre>')
        return response

<div class="table-responsive">
              <table class="table table-hover table-center">
                <thead class="thead-light">
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th class="text-center">Marks</th>
                    <th class="text-center">Percentage</th>
                    <th class="text-right">Year</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-nowrap">
                      <div>PRE2209</div>
                    </td>
                    <td class="text-nowrap">John Smith</td>
                    <td class="text-center">1185</td>
                    <td class="text-center">98%</td>
                    <td class="text-right">
                      <div>2019</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>