{% extends "base.html" %} {% block content %}
<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          {% if title %}
          <h3 class="page-title">{{title}}</h3>
          {% else %}
          <h3 class="page-title">Add Course</h3>
          {% endif %}
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url "Courses:courses" %}">Courses</a>
            </li>
            {% if title %}
            <li class="breadcrumb-item active">{{title}}</li>
            {% else %}
            <li class="breadcrumb-item active">Add Course</li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    {% for message in messages %}
    {% if 'error' in message.tags %}
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        Swal.fire({
          icon: "error",
          title: "Error",
          text: "{{ message|escapejs }} ",
          confirmButtonText: "OK",
        });
      });
    </script>
    {% endif %}
    {% endfor %}
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <form method='post'>
              {% csrf_token %}
              <div class="row">
                <div class="col-12">
                  <h5 class="form-title">
                    <span>Course Information</span>
                  </h5>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                      {{ form.course_code.label_tag }}
                      {{ form.course_code }}
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                      {{ form.course_title.label_tag }}
                      {{ form.course_title }}
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                      {{ form.program_id.label_tag }}
                      {{ form.program_id }}
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                      {{form.year_of_study.label_tag }}
                      {{ form.year_of_study}}
                  </div>
                </div>
                <div class="col-12">
                  <button type="submit" class="btn btn-success">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
