{% load static %}
<head>
   <link rel="stylesheet" href="{% static "plugins/bootstrap/css/bootstrap.min.css" %}">
   <link rel="stylesheet" href="{% static "plugins/fontawesome/css/fontawesome.min.css" %}">
   <link rel="stylesheet" href="{% static "plugins/fontawesome/css/all.min.css" %}">
   <link rel="stylesheet" href="{% static "css/style.css" %}">
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
   <title>{% block title %}Forgot Password{% endblock%}</title>
</head>

{% block content %}
<div class="page-wrapper">
<div class="content container-fluid">
    <div class="page-header">
    <div class="row align-items-center">
        <div class="col">
        <h3 class="page-title">Forgot Password</h3>
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "Users:login" %}">Login</a></li>
            <li class="breadcrumb-item active">Forgot Password</li>
        </ul>
        </div>
    </div>
    </div>
    {% for message in messages %}
    {% if 'success' in message.tags %}
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        Swal.fire({
          icon: "success",
          title: "Success",
          text: "{{ message|escapejs }} ",
          confirmButtonText: "OK",
        });
      });
    </script>
    {% endif %}
    {% endfor %}
    <div class="row">
    <div class="col-sm-12">
        <div class="card w-50">
        <div class="card-body">
            <form class= method='post'>
                <div class="row">
                    {% csrf_token %}
                    <div class="col-12">
                        <div class="form-group">
                            <label for="id">Enter your Id Number</label>
                            <input type="text" name="id" class="form-control">
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary btn-block" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
    </div>
</div>
</div>
{% endblock %}