{% load static %}
<head>
   <link rel="stylesheet" href="{% static "plugins/bootstrap/css/bootstrap.min.css" %}">
   <link rel="stylesheet" href="{% static "plugins/fontawesome/css/fontawesome.min.css" %}">
   <link rel="stylesheet" href="{% static "plugins/fontawesome/css/all.min.css" %}">
   <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
{% block content %}
<div class="main-wrapper login-body">
   <div class="login-wrapper">
      <div class="container">
         {% for message in messages %}
         {% if 'error' in message.tags %}
         <script>
            document.addEventListener("DOMContentLoaded", function () {
            Swal.fire({
               icon: "error",
               title: "Error",
               text: "{{ message|escapejs }} ",
               confirmButtonText: "OK",
            });
            });
         </script>
         {% else %}
         <script>
            document.addEventListener("DOMContentLoaded", function () {
            Swal.fire({
               icon: "success",
               title: "Success",
               text: "{{ message|escapejs }} ",
               confirmButtonText: "OK",
            });
            });
         </script>
         {% endif %}
         {% endfor %}
         <div class="loginbox">
            <div class="login-left">
               
            </div>
            <div class="login-right">
               <div class="login-right-wrap">
                  <h1>Login</h1>
                  <form method='post'>
                     {% csrf_token %}
                     <div class="col-12">
                        <div class="form-group">
                          <label>Your Id</label>
                          <input type="text" name="id" class="form-control" autocomple="off" />
                        </div>
                      </div>
                     <div class="col-12">
                        <div class="form-group">
                          <label>Password</label>
                          <input type="password" name="password" class="form-control" autocomple="off" />
                        </div>
                      </div>
                     <button class="btn btn-primary btn-block" type="submit">Login</button>
                  </form>
                  <div class="text-center forgotpass"><a href="forgot-password.html">Forgot Password?</a></div>
                  <div class="text-center dont-have">Don’t have an account? <a href="register.html">Register my Gee</a></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}